@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
html, body {
  font-family: 'Varela Round', sans-serif;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
}

/* line 19, ../sass/screen.scss */
h1 {
  text-align: center;
  font-size: 44px;
}
/* line 23, ../sass/screen.scss */
h1 small {
  color: #333;
}

/* line 28, ../sass/screen.scss */
.game-item {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  box-shadow: 0 0 50px #999;
}
/* line 42, ../sass/screen.scss */
.game-item .btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 48, ../sass/screen.scss */
.game-item h2 {
  margin-top: 0px;
}
